# Python
EDXD/__pycache__/
*.py[cod]
*.pyd
*.so
*.spec
*.egg-info/
# IDE / editor junk
.vscode/
.idea/
dist/
build/
.venv/
# Virtual-envs
venv/
.env/
# local data
EDXD/system-data/
config.json

/EDXD/debug/*
/EDXD/edxd_timestamp.json
/debug/statistics/
/EDXD/resources/ICON_PNG_B64.txt
/debug/
/temp_releasenotes.md
